@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.title{
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-size: 36px;
}